<div class="header-app">
  <mat-icon *ngIf="session" class="menu-button" (click)="toggleMenuOpen()">
    {{ getMenuIconName() }}
  </mat-icon>

  <div [ngClass]="{ 'header-banner': true, 'header-banner-login': !session }">
    <img src="../../../../assets/img/AyudandoAAyudar.png" />
  </div>

  <span class="header-items" *ngIf="session">
    <img class="user-icon" src="../../../../assets/img/user.jpg" />
    <div class="header-name">
      {{ session.name }}
    </div>
    <button mat-button (click)="logOut()">
      <mat-icon aria-hidden="false">exit_to_app</mat-icon>
    </button>
  </span>
</div>
