@import '../../theme/pallet.scss';

.header-app {
  background-color: map-get($theme-colors, 'primary');
  height: 64px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  align-content: center;
}

.menu-button {
  display: flex;
  flex: 0 0 content;
  align-self: center;
  height: 40px;
  width: 48px;
  padding: 12px 0px 12px 20px;
  color: $light-primary-text;
  font-size: 30pt;
}

.header-banner {
  img {
    padding-top: 15px;
    height: 40px;
  }
}

.header-items {
  display: flex;
  justify-content: right;
  height: 100%;
  vertical-align: middle;

  .header-name {
    padding-top: 10px;
    color: white;
    font-size: 20px;
  }

  mat-icon {
    color: white;
  }
}

.header-banner-login {
  img {
    padding-top: 15px;
    padding-right: 50px;
  }
}

.user-icon {
  margin: 8px;
  height: 45px;
}
