<ng-template #innerItemTemplate let-item="item">
  <app-edit-medicine
    [patient]="item"
    [medicines]="listMedicines$ | async"
  ></app-edit-medicine>
</ng-template>

<mat-card>
  <h1>Buscar paciente</h1>
  <app-find
    [onSearch]="onSearch"
    [onPressDelete]="onDelete"
    [onSubmitEdit]="onEdit"
    [list]="list$ | async"
    keyTitle="idNumber"
    titleText="Doc: "
    keyDescription="name"
    descriptionText="Nombre: "
    [schema]="schema"
    [innerItemTemplate]="innerItemTemplate"
  >
  </app-find>
</mat-card>
