@import '../../theme/pallet.scss';

.sidenavContainer {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.menu {
  margin: 0px;
  padding-top: 25px;
  padding-bottom: 15px;
  width: 300px;
  background-color: map-get($mat-medicilios, 900);
}

.material-icons {
  padding-right: 20px;
}

.sectionLabel {
  background-color: map-get($mat-medicilios, 700);
  font-family: Arial, Helvetica, sans-serif;
  color: $light-primary-text;
  font-size: 18pt;
  text-align: left;
  display: block;
  display: flex;
  padding-left: 15px;
  margin: 0px;
}

.menuSection {
  padding-top: 10px;
  padding-bottom: 25px;
  margin: 0px;
}

.pageButton {
  background-color: map-get($mat-medicilios, 500);
  color: $light-primary-text;
  padding: 3px 30px;
  display: block;
  font-size: 16pt;
  text-align: left;
  width: 100%;
  margin: 0px;
}

.pageButton:hover {
  background-color: map-get($mat-medicilios, 300);
  border: 0px;
}

.mat-sidenav-content {
  align-content: center;
  display: flex;
  flex: 1;
}
