<mat-sidenav-container class="sidenavContainer" autosize>
  <mat-sidenav
    disableClose="true"
    #drawer
    class="menu"
    mode="side"
    opened="true"
  >
    <div *ngFor="let section of menu">
      <!--*ngIf="checkRoles section.roles.includes(rol)"-->
      <div
        class="sectionLabel"
        (click)="section.openSection = !section.openSection"
      >
        <span class="material-icons">
          {{ section.matIconName }}
        </span>
        {{ section.sectionLabel }}
      </div>
      <div class="menuSection" *ngIf="section.openSection">
        <button
          class="pageButton"
          *ngFor="let page of section.sectionPages"
          (click)="navegate(page.path)"
        >
          <span class="material-icons">
            {{ page.matIconName }}
          </span>
          {{ page.pageName }}
        </button>
      </div>
    </div>
  </mat-sidenav>

  <mat-sidenav-content>
    <!--
      <button type="button" mat-button (click)="drawer.toggle()">
        Menu
      </button>
      -->
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
