/* You can add global styles to this file, and also import other style files */
@import './app/shared/theme/pallet.scss';

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: $default-font;
  background-color: map-get($theme-colors, 'primary');
}

.spinnerPanel .mat-dialog-container {
  box-shadow: none !important;
  background: rgba(0, 0, 0, 0) !important;
}

.flex-row-between {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.flex-row-end {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

// Card page
mat-card {
  width: 500px;
  margin: 0 auto;
  margin-top: 2rem;
  margin-bottom: 2rem;

  .mat-action-row {
    border-top-style: solid;
    border-top-width: 1px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 16px 8px 16px 24px;
  }
  .mat-action-row button.mat-button-base {
    margin-left: 8px;
  }
  [dir='rtl'] .mat-action-row button.mat-button-base {
    margin-left: 0;
    margin-right: 8px;
  }
}
