/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.mat-dialog-container {
  box-shadow: none !important;
  background: rgba(0, 0, 0, 0) !important;
}

.flex-row-between {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.flex-row-end {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

// Card page
mat-card {
  width: 500px;
  margin: 0 auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
